.mob__show {
    display: none;
}

@media window-factor == "small" {
    .toolbar__wrap {
        display: none;
    }
    .mob__show {
        display: block;
    }
    .header__wrap {
        margin: 0;
        padding-right: 4dip;
    }
    .logo {
        margin-left: 0;
    }
    .header-search {
        box-sizing: border-box;
        width: *;
        height: 40dip;
        margin: 0;
        position: absolute;
        top: 40px;
        left: 0;
        margin: 0;
        border-radius: 0;
        overflow: hidden;
        background-color: rgba(255,255,255,.08);
        padding: 6dip 8dip;
        opacity: 0;
        transition: opacity @DURATIONS linear;
        z-index: -1;
    }
    .search-container {
        height: 28dip;
        border-radius: 8dip;
        background-color: rgba(255,255,255,.16);
    }
    .search {
        width: *;
       
    }
    
    .search__input {
        size: * 28dip;
    }
    .mob-search-btn .btn-icon {
        size: 18dip;
        display: block;
        opacity: .7;
        margin: *;
    }
    .mob-serch-open .header-search {
        opacity: 1;
        transition: opacity @DURATIONS linear;
        z-index: 10;
    }
    .btn {
        margin: 0;
    }
    .content {
        overflow-y: auto;
        max-height: 100vh;
        box-sizing: border-box;
    }
    .sv {
        padding-top: 40px;
        padding-bottom: 40dip;
        opacity: 0;
    }
    
    .services-show .sv {
        opacity: 1;
    }
    .sv-content__wrap {
        flow: vertical;
    }
    .sv-arrow {
        margin-top: 10dip;
        margin-bottom: 10dip;
        transform: rotate(90deg);
    }
    .carousel {
        flow: vertical;
    }
    .carousel > .button {
        display: none;
    }
    .carousel > widget.list {
        size: auto;
        max-width: 320dip;
        flow: horizontal-wrap; 
        horizontal-align: center;
        margin: 0 auto;
    }
    .carousel > widget.list > div.box { 
        size: 160dip 170dip; 
        margin: auto;
    }
    .carousel .service {
        width: 152dip;
    }
}

/*

@media window-factor == "small" {
  
}
*/
